@tailwind base;
@tailwind components;

@media print {
  #printBtn {
    visibility: hidden;
  }
}
@page {
  size: auto; /* auto is the initial value */

  /* this affects the margin in the printer settings */
  margin: 15mm 20mm 15mm 20mm;
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8 h-32 w-32;
}

.top-30 {
  top: -20px;
}

.left-10 {
  left: 10px;
}
.left-20 {
  left: 20px;
}

.w-22 {
  width: 22rem;
}
.w-20rem {
  width: 20rem;
}
.top-10 {
  top: 10px;
}
.left-8rem {
  left: 8rem;
}
.left-4rem {
  left: 4rem;
}
.right-4rem {
  right: 4rem;
}

.w-90 {
  width: 90%;
}

.h-p50 {
  height: 50%;
}
.h-p100 {
  height: 100%;
}
.right-3px {
  right: 3px;
}
.w-80rem {
  width: 80rem;
}
.w-100rem {
  width: 100rem;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 0.4em;
  z-index: 500;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 0.844em solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  border-left: 0;
  margin-left: -0.422em;
  margin-top: -0.844em;
  z-index: 500;
}

.mouseHover {
  transition: opacity 0.5s;
  opacity: 1;
}
.mouseHover.hide {
  opacity: 0;
  pointer-events: none;
}

.bg-modal {
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 999;
}
.nav-bar {
  z-index: 9999;
}
.mr-015 {
  margin-right: 0.15rem;
}

.righttop-8 {
  right: -8px;
  top: -8px;
}
.half-size {
  width: 50%;
  height: 50%;
}
.mb-005 {
  margin-bottom: 0.05rem;
}

@keyframes errorKeyframes {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animation-error {
  animation: errorKeyframes 1s linear infinite 0.5s;
}

.interfacePcIcon {
  @apply shadow-lg rounded items-center flex justify-center transition-colors duration-200 relative;
}

.sidebar-enter {
  transform: translate3d(-300px, 0, 0);
  width: 0px !important;
}
.sidebar-enter-done {
  transform: translate3d(0, 0, 0);
  transition: all 200ms;
  width: 16.666667%;
}
.sidebar-exit {
  transform: translate3d(0, 0, 0);
  width: 16.666667%;
}
.sidebar-exit-done {
  width: 0px !important;
  transform: translate3d(-300px, 0, 0);
  transition: all 200ms;
}

.error-enter {
  transform: translate3d(500px, 0, 0);
  opacity: 100 !important;
}
.error-enter-done {
  transform: translate3d(0, 0, 0);
  transition: all 400ms;
  opacity: 100 !important;
}
.error-exit {
  transform: translate3d(0, 0, 0);
  opacity: 100 !important;
}
.error-exit-done {
  opacity: 100 !important;
  transform: translate3d(500px, 0, 0);
  transition: all 200ms;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
  transition: all 1000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-modal-enter {
  opacity: 0;
  z-index: 0;
}
.fade-modal-enter-done {
  opacity: 1;
  z-index: 999;
  transition: all 1000ms;
}
.fade-modal-exit {
  opacity: 1;
  z-index: 999;
}
.fade-modal-exit-active {
  opacity: 0;
  z-index: 0;
}

.button-scale:hover {
  transform: scale(1.07);
}

.min-h-28 {
  min-height: 28.3rem;
}

.interfacePcSm-rl {
  right: -15px;
  top: -13px;
}

th,
td {
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-error {
  background-color: #fc8181 !important;
}

.bg-navbar {
  background-color: #417690;
}
.bg-navbar-hover {
  background-color: #5493b2;
}
@tailwind utilities;
